<section id="user" class="md:m-10 m-2 flex gap-5 flex-col">
  <div class="user h-full flex h-full gap-2 sm:gap-7 p-3">
    <div class="sm:max-h-[200px] sm:max-w-[200px] max-h[100px] max-w-[100px] object-cover">
      <img class="rounded-xl h-full w-gull object-cover" alt="user-<%= @user.id%>" src="<%=@user.photo%>">
    </div>
    <div class="col-span-5 flex-1 p-3 flex flex-col gap-2">
      <h2 class="tracking-wider font-important text-lg font-semibold"><%= @user.name %></h2>
      <div class="flex flex-col justify-between flex-wrap">
        <span>Last seen:<span></span></span>
        <span class="float-left">Total Posts: <span><%= @user.posts_counter%></span></span>
      </div>
    </div>
  </div>
  <div class="hover:bg-slate-300 rounded-lg p-3">
    <h2 class="tracking-wider font-important text-lg font-semibold">Bio</h2>
    <p class="font-type1 max-h-[70px] text-ellipsis overflow-hidden"><%= @user.bio%></p>
  </div>
  <ul class="grid grid-cols-1 gap-5" id="posts-container">
    <% @user.recent_posts.each do |post|%>
      <li>
        <a href="/users/<%= @user.id%>/posts/<%=post.id%>" class="grid grid-cols-1 gap-2 hover:bg-slate-300 p-3 rounded-lg">
          <h3 class="tracking-wider font-important text-lg font-semibold"><%= post.title%></h3>
          <p class="pt-4 break-words"><%= post.text.truncate(100) %></p>
        </a>
         <span class="flex justify-end my-2 gap-2">
            <a href="/users/<%= @user.id%>/posts/<%= post.id%>/comments/new" class="hover:text-red-400">Comments: <%= post.comments_counter%>  </a>
            <div class="cursor-pointer">
              <%= form_with model: @like, url: create_user_post_like_url(@user, post), method: :post, local: true, scope: :post do |f| %>
             <div >
              <%= f.submit "Likes: #{post.likes_counter}", class:"cursor-pointer hover:text-red-400" %>
              </div>
            <% end %>
            </div>
          </span>
      </li>
    <% end %>
  </ul>
  <% if @posts.length > 3%>
    <div class="flex justify-around text-center items-center">
      <button onclick="show(event,'<%= @posts.to_json%>')" id="load-more-posts" type="button" class=" p-2 hover:bg-black hover:text-red-400 rounded-lg tracking-wider font-important text-lg font-semibold">Load More</button>
      <a href='/users/<%=@user.id%>/posts' class="p-2 hover:bg-black hover:text-red-400 rounded-lg tracking-wider font-important text-lg font-semibold">See All Posts</a>
    </div>
  <%end%>
  <div class="flex justify-around text-center items-center">
      <a href='/users/<%=@user.id%>/posts' class="p-2 hover:bg-black hover:text-red-400 rounded-lg tracking-wider font-important text-lg font-semibold">See All Posts</a>
    </div>
  <section>
    <script>
      const loadMoreBtn = document.getElementById('load-more-posts');
      let isShowingAllPosts = false;

      const renderPosts = (postsToRender) => {
          const postsContainer = document.querySelector('#posts-container');
          postsToRender.forEach((post) => {
            const postElement = document.createElement('li');
            console.log(post)
            postElement.innerHTML = `<a href="/users/${post.author_id}/posts/${post.id}" class="grid grid-cols-1 gap-2 hover:bg-slate-300 p-3 rounded-lg">
            <h3 class="tracking-wider font-important text-lg font-semibold">${post.title}</h3>
            <p class="pt-4">${post.text}</p>
            <span class="flex justify-end">Comments: ${post.comments_counter}  Likes: ${post.likes_counter} </span>
            </a>`;
          postsContainer.appendChild(postElement);
        });
      }

      const showPosts = (postsArray) => {
            const postsToRender = postsArray.slice(3);
            renderPosts(postsToRender);
            loadMoreBtn.innerText = 'Hide posts';
      }

      const hidePosts = (postsArray) => {
        const postsContainer = document.querySelector('#posts-container');
        postsContainer.innerHTML = '';
        const postsToRender = postsArray.slice(0, 3);
        renderPosts(postsToRender);
        loadMoreBtn.innerText = 'Load More';
      }

       window.show = (event, posts) => {
      event.preventDefault();
      const postsContainer = document.querySelector('#posts-container');
      const postsArray = JSON.parse(posts);
      if (isShowingAllPosts) {
        hidePosts(postsArray);
        isShowingAllPosts = false;
        return;
      }
      showPosts(postsArray);
      isShowingAllPosts = true;
      }
    </script>
