<h2 class="text-center font-important my-5">Add new post</h2>


<div class="mx-10 my-3">
<%= form_with model: @post, url: create_user_post_url, method: :post, local: true, scope: :post do |f| %>
  <div>
  <%= f.label :title %><br>
  <%= f.text_field :title, class: "border px-2 focus:outline-none w-full py-1" %>
  </div>

<div>
  <%= f.label :text %><br>
  <%= f.text_area :text, class: "border px-2 focus:outline-none w-full py-1 h-[200px]" %>
</div>

<%= f.submit "Add Post" , class: "cursor-pointer w-full bg-red-400 text-white font-bold py-1 hover:bg-black hover:text-red-400"%>

<% end %>

</div>
