<section id="post" class="md:m-10 m-2 flex gap-5 flex-col">
  <div>
    <div class="flex flex-col gap-3 py-3 px-6 border border-red-300 relative" id="post-section">
      <div class="flex justify-between">
        <h1><span class="font-important tracking-widest text-lg font-semibold"><%= @post.title%> </span>by <a href="/users/<%= @user.id%>" class="font-important tracking-wider text-lg font-semibold hover:text-red-300 underline"><%= @user.name%></a></h1>
        <% if can? :delete, @post %>
          <div class="float-l overflow-hiddn">
            <button type="button" class="menu cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
            <ul class="absolute min-w-[160px] flex flex-col right-0 hidden menu-items">
              <li class="cursor-pointer flex animate-menu p-[5px] bg-red-300 text-black font-semibold hover:bg-red-600 hover:text-black">
                <%= button_to 'Delete', delete_user_post_path(@user,@post), class:"w-full", method: :delete %>
              </li>
              <li class="cursor-pointer flex animate-menu-2 p-[5px] font-semibold hover:bg-red-600 hover:text-black bg-black text-red-400">Edit</li>
            </ul>
          </div>
        <%end%>
      </div>
      <div>
        <h2 class="px-2 break-words"><%= @post.text%></h2>
      </div>
      <div>
        <span class="flex justify-end">Comments: <%= @post.comments_counter%>  Likes: <%= @post.likes_counter%> </span>
      </div>
    </div>
    <div>
     <a href="/users/<%= @user.id%>/posts/<%= @post.id%>/comments/new" class="hover:text-red-400">Make a Comment  </a>
    </div>
    <div class="" id="comment-section">
      <div>
        <h3 class="font-thin tracking-wider font-important my-3">Comments</h3>
        <ul class="flex gap-3 flex-col px-5 my-3">
          <% post.comments.each do |comment|%>
            <li class="flex flex-col gap-2 p-2 border-l border-red-200 hover:bg-red-300 relative comments min-h-[120px]">
              <div class="flex justify-between">
                <a class="text-sm sm:text-base hover:underline hover:font-bold" href="/users/<%= comment.author.id%>"><%= comment.author.name%>: </a>
                <% if can? :delete, comment %>
                  <div class="float-l overflow-hidden">
                    <button type="button" class="menu-comment cursor-pointer">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                      </svg>
                    </button>
                    <ul class="absolute min-w-[160px] flex flex-col right-0 hidden menu-comments-items">
                      <li class="cursor-pointer flex animate-menu p-[5px] bg-red-300 text-black font-semibold hover:bg-red-600 hover:text-black">
                        <%= button_to 'Delete', delete_user_post_comment_path(@user,@post,comment), class:"w-full", method: :delete %>
                      </li>
                      <li class="cursor-pointer flex animate-menu-2 p-[5px] font-semibold hover:bg-red-600 hover:text-black bg-black text-red-400">Edit</li>
                    </ul>
                  </div>
                <%end%>
              </div>
              <span class="sm:text-base text-sm pl-5"><%= comment.text%></span>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</section>
<script>
  const menu = document.querySelector('.menu');
  const menuItems = document.querySelector('.menu-items')
  if(menu != null){

    menu.addEventListener('click', () => {
      menuItems.classList.toggle('hidden')
  })
  }

    const menuComments = document.querySelectorAll('.menu-comment');
    const menuCommentItems = document.querySelector('.menu-comments-items')

    if(menuComments != null){
      menuComments.forEach((menuComment) => {
        menuComment.addEventListener('click', () => {
          menuCommentItems.classList.toggle('hidden')
        })
      })
    }

</script>
